[Unit]
Description=gunicorn daemon
Requires=pizza.socket
After=network.target

[Service]
User=raphaeluziel
Group=www-data
WorkingDirectory=/home/raphaeluziel/pizza
ExecStart=/home/raphaeluziel/pizza/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/pizza.sock \
          pizza.wsgi:application

[Install]
WantedBy=multi-user.target
