{% extends "orders/base.html" %}

{% block title %}
  Checkout
{% endblock %}

{% block body %}

<script type="text/javascript" src="static/orders/checkout.js"></script>

    <h2>Checkout</h2>

    <b>Items in your order:</b>
    <ul>
      {% for item in items_in_order %}
          <li>{{ item }}</li>
      {% endfor %}
    </ul>

    <b>Your total: {{ order.total }}</b>
    <br>&nbsp;

    <form action="{% url 'confirmation' %}" method="post" id="payment-form">
      {% csrf_token %}
      <div class="form-row">

        <div id="card-element">
          <!-- A Stripe Element will be inserted here. -->
        </div>

        <!-- Used to display form errors. -->
        <div id="card-errors" role="alert"></div>
      </div>
      <br>
      <button class="btn btn-success">Place order</button>
    </form>

    <br>

    <form action="{% url 'cancel_order' %}" method="post">
      {% csrf_token %}
      <input type="number" name="order_id" value="{{ order.id }}" hidden>
      <button type="submit" class="btn btn-danger">Cancel Order</button>
    </form>



{% endblock %}
