{% extends "orders/base.html" %}

{% block title %}
  Order
{% endblock %}

{% block body %}

<script type="text/javascript" src="static/orders/order.js"></script>

    {% if not user.is_authenticated %}
      <p>Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'signup' %}">sign up</a> before placing an order.</p>
    {% endif %}

    {% for type in types %}
      <form action="" method="post">
        {% csrf_token %}

        <div>
          <b>{{ type.type }}</b>
        </div>

        <div class="form-group">
          <select id="{{ type.type|cut:' ' }}" class="custom-select" name="item" oninput="addToppings('{{ type.type|cut:" " }}')">
            {% for item in items %}
              {% if item.type == type.type %}
                <option value="{{ item.id }}" data-numExtras="{{ item.numExtras }}">{{ item }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>

        {% for i in '01234'|make_list %}
          <div class="extras" id="{{ type.type|cut:' '}}{{i}}">
            <select id="{{ type.type|cut:' '}}{{i}}Selection" class="custom-select" name="extras">
              <option value="" selected disabled hidden>Choose topping</option>
              {% for topping in toppings %}
                <option value="{{ topping.topping }}">{{ topping.topping }}</option>
              {% endfor %}
            </select>
          </div>
        {% endfor %}

        <div>
          <select class="form-control" name="quantity">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="subExtras" id="{{ type.type|cut:' '}}Extras">
          <br>Extras (+0.50):
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="extras" value="Cheese">
            <label class="form-check-label" for="Cheese">Cheese</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="extras" value="Mushrooms">
            <label class="form-check-label" for="Mushrooms">Mushrooms</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="extras" value="Green Peppers">
            <label class="form-check-label" for="Green Peppers">Green Peppers</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="extras" value="Onions">
            <label class="form-check-label" for="Onions">Onions</label>
          </div>
        </div>


        <input class="btn btn-light btn-block add_to_cart" type="submit" value="Add to Cart">

      </form>
    {% endfor %}


      <div class="error">
        {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}
      </div>

      <hr>
      <h3>Your Cart</h3>

      {% for item in order_items %}
        <div class="cartStuff">
          <div class="cartItems">
            {{ item }}
          </div>
          <div class="cartRemoveLink">
            <form action="{% url 'delete' %}" method="post">
              {% csrf_token %}
              <input type="number" name="delete" value="{{ item.id }}" hidden>
              <button type="submit" class="submit-order">remove</button>
            </form>
          </div>
        </div>
        {% empty %}
        <div>
          Your cart is empty.
        </div>
      {% endfor %}

      <br>

      <div class="form-buttons">
        <form action="{% url 'checkout' %}" method="post">
          {% csrf_token %}
          <input type="number" name="order_id" value="{{ order.id }}" hidden>
          <button type="submit" class="btn btn-success">Checkout</button>
        </form>
      </div>

      <div class="form-buttons">
        <form action="{% url 'deleteAll' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Empty Cart</button>
        </form>
      </div>


{% endblock %}
