body {
  background-color: darkred;
  color: lightyellow;
  max-width: 1000px;
  margin: 60px auto;
}

h3{
  text-align: center;
}

input, select {
  margin: 5px;
}

table{
  width: 60%;
  margin: 20px 20px 40px 20px;
}

th{
  text-align: center;
}

td{
  padding: 5px;
  border-bottom: 1px solid darkred;
}

ul{
  list-style-type: none;
}

@media (max-width: 800px) {
  body{
    margin: 10px auto;
  }
  input{
    width: 55vw;
  }
  table{
    margin: 0;
  }
  .rest{
    width: 95%;
  }
  #pizza_image{
    display: none;
  }
  #page_title{
    padding: 0;
    font-size: 2em;
  }
}

.cartStuff{
  display: flex;
}

.cartItems{
  width: 90%;
  margin-bottom: 10px;
  font-size: 90%;
}

.cartRemoveLink{
  width: 8%;
}

.cart{
  width: 90%;
}

.cart th{
  text-align: left;
}

.cart td{
  text-align: left;
  border: 0;
  padding: 2px;
}

.error{
  color: red;
  font-weight: bold;
}

.extras{
  display: flex;
  width: 85%;
}

.extras div{
  margin-right: 10px;
  display: none;
}

.menu_nav{
  background-color: #eee;
  padding: 4px;
  margin: 4px auto;
  text-align: center;
  width: 70%;
  font-size: 90%;
}

.form-buttons{
  display: inline-block;
  margin-right: 20px;
}

.nav{
  background-color: lightyellow;
  max-width: 600px;
  margin: 20px auto;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.nav a{
  color: darkred;
  text-decoration: none;
  display: block;
}

.nav a:hover{
  background: lightblue;
}

.top{
  display: flex;
  justify-content: center;
}

.quantity{
  width: 50px;
  border: 1px solid #ccc;
  border-radius: 2px;
  text-align: center;
}

.rest{
  max-width: 800px;
  color: #444;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin: 10px auto;
}

.subExtras{
  display: none;
}

.submit-order{
  background: none!important;
  border: none;
  padding: 0!important;
  color: #33f;
  cursor: pointer;
}

.table_title{
  font-weight: bold;
  font-size: 110%;
  text-align: center;
}

.user_forms td{
  border-bottom: 0;
}

#cart td{
  border: 0;
}

#page_title{
  padding: 0px 40px 0px 40px;
}

#pizza_image{
  width: 10%;
  height: 10%;
}

.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-element, .StripeElement{
  width: 450px;
}
